

.jumbotron {
	text-align: center;
	margin-bottom: 1%;
}


#section-watchlist li {
	padding: 0px;
	margin: 0px 4% 4% 0px;
	width: 160px;
}


#section-watchlist ul li button {
	width: 100%;
	margin-top: 10px;
}


#section-watchlist ul {
	text-align: center;
}


.main-content {
	color: gray;
}

#section-browse {
	background: black;
}

#section-browse form {
	margin-bottom: 2%;
}

hr {
	border-color: rgba(128,128,128,0.2);
}

section header {
	margin-bottom: 10px;
}

section {
	padding: 2%;
}

#browse-carousel {
	max-width: 300px;
	margin: auto;
}

.carousel-item {
	display: none;
}
.carousel-item.active {
	visibility: visible;
}
.carousel-inner {
	padding: 0;
}

img {
	height: auto;
	width: 100%;
}

.add-to-watchlist {
	width: 100%;
}