<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://unpkg.com/vue@2.5.16/dist/vue.js"></script>
  <link rel="stylesheet" href="css/styles.css" />

  <title>FlickList</title>
</head>
<body>
  <div id="mount-target">
    <header class="jumbotron">
      <h1>FlickList</h1>
      <p class="text-muted">Keep a list of all the movies you've been meaning to watch.</p>
    </header>

    <div class="main-content">
      <div class="row">

      <section id="section-watchlist" class="col-1-1">
        <header>
          <h2>My Watchlist</h2>
          <hr/>
        </header>
        
        <ul class="list-inline" style="text-align: center;">
          <li
            v-for="movie in watchlistItems"
            class="item-watchlist"
          >
            <p>{{ movie.title }}</p>
            <img :src="posterUrl(movie)">

            <input type="button" class="btn btn-danger" value="I watched it" @click="removeFromWatchlist(movie)" >

          </li>
        </ul>
      </section>

      <section id="section-browse" class="col-2-1">
        <header>
          <h2>Browse Movies</h2>
          <form id="form-search">
            <input type="text" v-model="searchTerm" />
            <input
              type="submit" value="Search By Title"
              @click="searchMovies(searchTerm)"
            />
          </form>
        </header>
        <ul>
          <li v-for="movie in browseItems">
            <hr />

            <h4>{{ movie.title }}</h4>
            <button
              @click="addToWatchlist(movie)"
              :disabled="watchlistItems.includes(movie)"
            >
              Add to Watchlist
            </button>

            <p>{{ movie.overview }}</p>
          </li>
        </ul>
      </section>
    </div>
  </div>
</div>
  <script src="js/flicklist.js"></script>

</body>
</html>
